:root {
  --white-color: #fbfffc;
  --white-sh-color: #f5faf4;
  --text-color: #234625;
  --text-sh-color: #39593b;
  --text-ti-color: #4f6b51;
  --text-ti-2-color: #e5e9e5;
  --grey-color: #3d423d;
  --grey-ti-color: #505550;
  /* #f5faf4 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--white-color);
  font-family: "Merriweather", serif;
  /* font-family: "Inter", sans-serif; */
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;

  row-gap: 9.6rem;
}

.col-gap-sm {
  column-gap: 4.4rem !important;
}
.col-gap-md {
  column-gap: 6.8rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.heading-primary {
  color: var(--text-color);
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
}
.heading-secondary {
  color: var(--text-color);
  font-size: 3.6rem;
  line-height: 1.1;
  font-weight: 700;
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}
.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 4.8rem !important;
}

.padding-tb-sm {
  padding: 1.6rem 0 !important;
}
.padding-tb-sm {
  padding: 3.2rem 0 !important;
}

.text-center {
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 1.6rem 4.8rem;
  margin: 0 0 1.6rem;
  color: var(--text-color);
  /* background-color: var(--text-color); */
  border: 1px solid var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover,
.btn:active {
  color: var(--white-color);
  background-color: var(--text-color);
}

.btn-sm {
  font-size: 1.4rem !important;
  padding: 1.4rem 2.6rem !important;
}
