:root {
  --white-color: #fbfffc;
  /* --white-sh-color: #f5faf4; */
  --white-sh-color: #e0f3ec;
  /* --text-color: #234625; */
  --text-color: #0f140d;
  --text-sh-color: #39593b;
  --text-ti-color: #4f6b51;
  --text-ti-2-color: #e5e9e5;
  /* --grey-color: #3d423d; */
  --grey-color: #545454;
  --grey-ti-color: #7a7a7a;
  /* --grey-ti-color: #505550; */
  --grey-ti-2-color: #afafaf;
  /* #f5faf4 */
  --green-color: #54b592;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--white-color);
  background-color: #ffffff;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
  /* overflow: hidden; */
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;

  /* row-gap: 9.6rem; */
}

.col-gap-sm {
  column-gap: 4.4rem !important;
}
.col-gap-md {
  column-gap: 6.8rem !important;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-rows-3 {
  grid-template-rows: 1fr 0.25 fr 0.25 fr;
}

.row-gap-sm {
  row-gap: 4.4rem !important;
}

.heading-primary {
  color: var(--text-color);
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  color: var(--text-color);
  font-size: 3.6rem;
  line-height: 1.1;
  font-weight: 700;
}
.subheading-sub {
  color: var(--text-color);
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 400;
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}
.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 4.8rem !important;
}

.margin-right-sm {
  margin-top: 1.6rem !important;
}
.padding-tb-sm {
  padding: 1.6rem 0 !important;
}
.padding-tb-sm {
  padding: 3.2rem 0 !important;
}

.text-center {
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 1.6rem 3.2rem;
  margin: 0 0 1.6rem;
  border-radius: 9px;
  color: var(--white-color);
  background-color: var(--green-color);
  /* border: 1px solid var(--text-color); */
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover,
.btn:active {
  color: var(--white-color);
  background-color: var(--green-color);
}

.btn-sm {
  display: inline-block !important;
  font-size: 1.4rem !important;
  padding: 1.4rem 2.6rem !important;
}
