/* Below 1344px */
@media (max-width: 84em) {
  .container {
    max-width: 100rem;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    column-gap: 6rem;
    row-gap: 1.8rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .hero {
    max-width: 100rem;
    padding: 0 2.8rem;
    grid-template-columns: 1.5fr 1fr;
    gap: 6rem;
  }

  .hero-text {
    text-align: center;
  }

  .categories {
    padding: 3.6rem 0 6rem 0;
  }

  .categories-card {
    /* width: 24rem; */
    height: 32rem;
  }
  .categories-img {
    /* width: 24rem; */
    height: 24rem;
  }
  .blog-container {
    padding: 4rem;
  }
  .heading-primary-banner {
    font-size: 4.4rem;
  }
  .banner-grid {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }

  .banner-btn:link,
  .banner-btn:visited {
    margin-bottom: 0;
  }
}
/*  Below 1200px */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 75rem;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .grid {
    column-gap: 2.4rem;
    row-gap: 3.4rem;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-container {
    max-width: 75rem;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .products-grid-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-container {
    /* max-width: 50rem;
    margin: 0 auto;
    padding: 0 2rem; */
  }
  .blog-grid {
    /* grid-auto-columns: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-flow: row; */
  }

  .post-card {
    /* margin-bottom: 4.4rem; */
    /* display: flex; */
    /* width: 60rem; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    width: 70%;

    margin: 0 auto;
  }
  .post-img-box {
    /* text-align: center; */
  }
  .post-img {
    /* width: 80%; */
    /* height: 90%; */
    /* width: auto; */
    /* object-fit: cover; */
  }
  .post-desc {
    /* line-height: ; */
    /* white-space: nowrap; */
    /* overflow-wrap: break-word; */
    /* word-break: break-all; */
  }
}

/*  Below 960px */
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 60rem;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-image {
    width: 45%;
    height: 45%;
  }
  .blog-container {
    max-width: 70rem;
  }
  .blog-grid {
    /* grid-auto-rows: 1fr; */
    /* grid-auto-flow: row; */
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    /* grid-template-columns: 1fr; */
  }

  .banner-grid {
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
  }
  .banner-img-tips-box {
    grid-row: 2/3;
  }
  .categories-container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    width: 80%;
  }
}

/*  Below 704px */

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-image {
    width: 40%;
    height: 40%;
  }
  .categories-container {
    max-width: 50rem;
    padding: 0 1.8rem;
    margin: 0 auto;
  }
  .categories-grid {
    grid-template-columns: 1fr;
  }
  .product-container {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products-grid-cols-3 {
    grid-template-columns: 1fr;
  }
  .product-card {
    width: 70%;
  }
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 4.2rem; */
  }
}

/* Below 544px */

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid-cols-2,
  .grid-cols-3,
  .grid-cols-4,
  .products-grid,
  .testimonal-grid
  /* .blog-grid */ {
    grid-template-columns: 1fr;
    column-gap: 4.8rem;
    row-gap: 4.8rem;
  }
  .product-card {
    width: 60%;
  }
  .blog-grid {
    /* grid-auto-columns: 1fr; */
    /* grid-auto-flow: row; */
    grid-template-columns: 1fr;
  }
  .post-img {
    width: 100%;
    /* object-fit: cover; */
  }
}
