/* *************** */
/* Header Section */
/* *************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-shade-color);
  height: 8rem;
}

.logo {
  margin-left: 3.2rem;
}
.logo-text {
  font-size: 3.2rem;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3.2rem;
  margin: 0 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--grey-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
  position: relative;
}

.main-nav-link::after {
  display: block;
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--green-color);
  left: 0;
  bottom: -10px;
}
.main-nav-link:hover::after,
.main-nav-link:active::after {
  width: 100%;
  transition: all 0.3s ease-out;
}

.signup:link,
.signup:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--grey-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--white-color);
  background-color: var(--green-color);
  transition: all 0.3s ease-out;
}

.signup:hover,
.signup:active {
  background-color: var(--green-shade-color);
}

/* *************** */
/* Hero  Section*/
/* *************** */

.section-hero {
  padding: 6.2rem 0 8rem 0;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 8rem;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.heading-primary.heading-hero {
  margin-top: 3.2rem;
}
.hero-desc {
  color: var(--grey-color);
  font-size: 2rem;
  list-style: 1.5;
  margin-bottom: 3.2rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-btns {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: flex-start;
}
.btn-hero-outlined span {
  margin-left: 1rem;
  font-size: inherit;
}
.btn.btn-hero-filled:visited,
.btn.btn-hero-filled:link {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
}

.btn.btn-hero-outlined:visited,
.btn.btn-hero-outlined:link {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  color: var(--text-color);
  background-color: var(--white--color);
}

.btn.btn-hero-outlined:hover,
.btn.btn-hero-outlined:active {
  color: var(--green-shade-color);
}

/* *************** */
/* Categories */
/* *************** */
.categories-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4.4rem;
  row-gap: 4.4rem;
}

.categories {
  padding: 6.2rem 0 8rem 0;
}

.categories-title:link,
.categories-title:visited {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  color: var(--text-color);
  text-decoration: none;
}

.categories-desc {
  font-size: 1.6rem;
  color: var(--grey-tint-color);
}

.categories-card {
  width: 25.6rem;
  height: 35rem;
  margin: 0 auto;
  border-radius: 11px;
  color: var(--grey-color);
  background-color: var(--white-shade-color);
  background-color: #f6fbf9;
  overflow: hidden;
}

.categories-img-box {
  text-align: center;
}
.categories-img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* *************** */
/* Products*/
/* *************** */

.products {
  padding: 6.2rem 0 8rem 0;
  background-color: var(--white-shade-color);
}

.product-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.products-grid {
  display: grid;
}
.products-grid-cols-2 {
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 4.4rem;
}

.products-grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.products-margin {
  margin-bottom: 6rem;
}

.product-card {
  width: 35.6rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.02);
}

.product-img {
  width: 100%;
  height: 33rem;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: all 0.3 ease-out;
}

.product-text-box {
  padding: 1.2rem 2.4rem 2.4rem 2.4rem;
}

.product-title {
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 1.1;
}
.product-text-box strong {
  font-weight: 500;
}
.product-price {
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.add-to-cart-btn:link,
.add-to-cart-btn:visited {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 1.6rem 4.8rem;
  border-radius: 11px;
  color: var(--white-color);
  background-color: var(--green-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:active {
  background-color: var(--green-shade-color);
}

.product-img-box {
  text-align: center;
}

/* *************** */
/* Section Why */
/* *************** */

.section-why {
  padding: 6.2rem 0 8rem 0;
}
.feature {
  text-align: center;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: var(--grey-color);
}

.feature-desc {
  font-size: 1.6rem;
  color: var(--grey-tint-color);
}

.feature-icon {
  font-size: 4.4rem;
  color: var(--text-color);
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: var(--white-shade-color);
}

/* *************** */
/* Testimonals */
/* *************** */

.testimonals {
  background-color: var(--white-shade-color);
}
.testimonals-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6rem;
}
.testimonal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 6rem;
}

.testimonals-subheading {
  color: var(--grey-color);
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 4.4rem;
}
.testimonal-img {
  width: 9.6rem;
  margin-bottom: 1.6rem;
  border-radius: 50%;
}
.testimonal-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  color: var(--text-color);
}
.testimonal-name {
  font-size: 1.6rem;
  color: var(--grey-color);
}

/* *************** */
/* Signup*/
/* *************** */

.signup-section {
  padding: 11.2rem 8rem 0;
}

.form-container {
  max-width: 100rem;
  margin: 0 auto;
}
.signup-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.8rem;
  row-gap: 2.4rem;
}

.sign-gird-cols-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.heading-secondary.signup-heading {
  margin-bottom: 5.2rem;
}

.signup-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background: var(--white-shade-color);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.signup-text {
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 5.2rem;
}
.signup-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.signup-input {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  background-color: var(--white-color);
  border-radius: 9px;
}
.signup-input::placeholder {
  color: var(--grey-tint-2-color);
}

.signup-section *:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(67, 145, 116, 0.226);
}

.signup-img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  opacity: 0.7;
}

/* *************** */
/* Blog Posts */
/* *************** */
.blog-posts {
  padding: 6.2rem 0 8rem 0;
}

.blog-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6rem;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4.4rem;
}

.post-card {
  display: flex;
  flex-direction: column;
}
.post-title {
  color: var(--grey-color);
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.post-desc,
.post-paragraph {
  color: var(--grey-tint-color);
  font-size: 1.4rem;
}
.post-paragraph {
  margin-bottom: 1.6rem;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}

/* *************** */
/* Banners */
/* *************** */

.banners {
  padding: 6.2rem 0 8rem 0;
}

.banner-grid {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
}

.heading-primary-banner {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 3.2rem;
  padding: 1rem;
}

.banner-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}

.banner-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--grey-color);
  margin-bottom: 3.2rem;
}

.banner-btn:link,
.banner-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  margin-bottom: 3.2rem;
  border-radius: 9px;
  text-align: center;

  color: var(--white-color);
  background-color: var(--green-color);
  cursor: pointer;
}

.banner-btn:hover,
.banner-btn:active {
  background-color: var(--green-shade-color);
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 11px;
}

/* *************** */
/* Footer Section */
/* *************** */
.footer {
  padding: 4rem 0;
  border-top: 1px solid var(--grey-tint-2-color);
  border-width: thin;
  background-color: var(--white-shade-color);
}

.footer-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.footer-grid {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.4rem;
}

.logo-f {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.footer-social-media {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}
.footer-icons {
  font-size: 2.4rem;
  color: var(--text-color);
}
.footer-copy {
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey-color);
  margin-bottom: 1.6rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--grey-tint-color);
  cursor: pointer;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-address {
  font-size: 1.6rem;
  color: var(--grey-tint-color);
}
