/* *************** */
/* Header Section */
/* *************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-sh-color);
  height: 8rem;

  /* margin: 0 3.2rem; */
}

.logo {
  margin-left: 3.2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3.2rem;
  margin: 0 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--grey-color);
  font-size: 1.6rem;
  font-weight: 600;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--text-color);
}

/* *************** */
/* Hero  Section*/
/* *************** */

.section-hero {
  padding: 4.2rem 0 8rem 0;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
}

.hero-desc {
  color: var(--grey-color);
  font-size: 1.8rem;
  list-style: 1.3;
  margin-bottom: 3.2rem;
}

.hero-btns {
  display: inline-block;
}
.image-container {
  text-align: center;
}
.hero-image {
  width: 90%;
}

/* *************** */
/* Categories */
/* *************** */
.categories-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4.4rem;
  row-gap: 4.4rem;
}

.categories {
  padding: 4.2rem 0 8rem 0;
}

.categories-title:link,
.categories-title:visited {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  color: var(--grey-color);
  text-decoration: none;
}

.categories-desc {
  font-size: 1.6rem;
  color: var(--grey-ti-color);
}

.categories-card {
  width: 25.6rem;
  height: 35rem;
  margin: 0 auto;
  border-radius: 11px;
  color: var(--grey-color);
  background-color: var(--white-sh-color);
  overflow: hidden;
}

.categories-img-box {
  text-align: center;
}
.categories-img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* *************** */
/* Products*/
/* *************** */

.products {
  padding: 4.2rem 0 8rem 0;
  background-color: var(--white-sh-color);
}

.product-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.products-grid {
  display: grid;
}
.products-grid-cols-2 {
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 4.4rem;
}

.products-grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.product-card {
  width: 35.6rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 11px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 33rem;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.product-text-box {
  padding: 1.2rem 2.4rem 2.4rem 2.4rem;
}

.product-title {
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 1.1;
}
.product-text-box strong {
  font-weight: 500;
}
.product-price {
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.add-to-cart-btn:link,
.add-to-cart-btn:visited {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 1.6rem 4.8rem;
  border-radius: 11px;
  color: var(--white-color);
  background-color: var(--green-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.product-img-box {
  text-align: center;
}

/* *************** */
/* Section Why */
/* *************** */

.section-why {
  padding: 4.2rem 0 8rem 0;
}
.feature {
  text-align: center;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: var(--grey-color);
}

.feature-desc {
  font-size: 1.6rem;
  color: var(--grey-ti-color);
}

.feature-icon {
  font-size: 4.4rem;
  color: var(--text-color);
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: var(--white-sh-color);
}

/* *************** */
/* Blog Posts */
/* *************** */
.blog-posts {
  padding: 4.2rem 0 8rem 0;
}

.blog-grid {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 4.4rem;
}

.post-card {
  display: flex;
  flex-direction: column;
}
.post-title {
  color: var(--grey-color);
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.post-desc,
.post-paragraph {
  color: var(--grey-ti-color);
  font-size: 1.4rem;
}
.post-paragraph {
  margin-bottom: 1.6rem;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}

/* *************** */
/* Banners */
/* *************** */

.banners {
  padding: 4.2rem 0 8rem 0;
  /* padding: 9.6rem 0; */

  background-color: var(--white-sh-color);
}

.banner-grid {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
}

.heading-primary-banner {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 3.2rem;
  padding: 1rem;
}

.banner-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}

.banner-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--grey-color);
  margin-bottom: 3.2rem;
}

.banner-btn:link,
.banner-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  margin-bottom: 3.2rem;
  border-radius: 9px;
  text-align: center;

  color: var(--white-color);
  background-color: var(--green-color);
  cursor: pointer;
}

.banner-img,
.banner-img-tips {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 11px;
}
